.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--no-padding-top {
  padding-top: 0;
}
.section__title--visually-hidden {
  @extend %visually-hidden;
}
.products-section {
  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }
}
.about-section {
  padding-bottom: 42px;
  @media screen and (min-width: 768px) {
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.advantages-section {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 86px;
  }
}
.gallery-section {
  padding-bottom: 75px;
  @media screen and (min-width: 768px) {
    padding-bottom: 55px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 123px;
  }
}
.reviews-section {
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}
.contacts-section {
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 64px;
  }
}
.section__title {
  // замінити на змінну шрифту:
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-black-color;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25em;
    letter-spacing: 0.06em;
  }
}
.section__title--light-color {
  color: $primary-white-color;
}
.section__suptitle {
  // замінити на змінну шрифту:
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22em;
  text-align: center;
  text-transform: uppercase;

  color: $primary-black-color;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.section__suptitle--light-color {
  color: $primary-white-color;
}
