$main-accent-color: #f8d24e;
$active-btn-color: #0a8817;
// основні кольори тексту сайту
$primary-white-color: #fcfcfc;
$primary-black-color: #131313;
// основні кольори тексту сайту
//кольори секцій та розділів у них //
$desktop-hero-bg-color: #84a278;
$main-bg-color: #84a178;
$additional-bg-color-1: #aec6a5;
$additional-bg-color-2: #efd478;
$additional-bg-color-3: #d6936d;
$gradient-bg-color-1: rgba(156, 190, 143, 0.7);
$gradient-bg-color-2: rgba(248, 210, 78, 0.7);
$gradient-bg-color-3: rgba(213, 117, 63, 0.7);
$secondary-white-color: #ffffff;
//кольори секцій та розділів у них //
//кольори меню для планшету та для мобілок //
$tablet-menu-bg-color: #97af8d;
$mobile-menu-bg-color: #85a279;
//кольори меню для планшету та для мобілок //
//інші кольори ( для слайдеру, роздільної лінії, авторського права, тексту у секції контактів)//
$slider-bg-color: #d9d9d9;
$delimiter-line-color: #e1e1e1;
$footer-copyright-color: #7a7a7a;
$additional-text-color-1: #ababab;
$additional-text-color-2: #907e82;
//інші кольори ( для слайдеру, роздільної лінії, авторського права, тексту у секції контактів)//
//додаткові кольори для модалок//
$modal-green-border-color: #96af8c;
$modal-input-bg-color: rgba(248, 210, 78, 0.1);
$modal-indicators-bg-color: #9cbe8f;
//додаткові кольори для модалок//
