<div class="backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button type="button" class="about-modal__close-btn" data-modal-about-close>
      <svg aria-label="about-modal__close-icon" class="modal-icon-btn-close">
        <use href="./images/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
    <form class="about-modal__form">
      <p class="about-modal__title">How it’s made?</p>
      <iframe
        class="about-modal__video"
        src="https://www.youtube.com/embed/fUMHnnAuzvw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="about-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </form>
  </div>
</div>
