<!-- <button type="button" class="products-btn">Products</button>
<button type="button" class="production">How it’s made?</button>
<button type="button" class="buy-now-btn">
  Buy now
  <svg class="btn-icon" width="12px" height="12px">
    <use href="./images/icons.svg#icon-btn-arrow"></use>
  </svg>
</button>

<button type="button" class="locations-btn">
  Our Locations
  <svg class="btn-icon" width="12px" height="12px">
    <use href="./images/icons.svg#icon-btn-arrow"></use>
  </svg>
</button>
<button type="button" class="franchise-btn">
  Franchise
  <svg class="btn-icon" width="12px" height="12px">
    <use href="./images/icons.svg#icon-btn-arrow"></use>
  </svg>
</button> -->
