<section class="section section--contacts section--no-padding-top">
  <div class="container">
    <h2 class="section__title section__title--visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__agency">CAFE</p>
        <div class="contacts__location">
          <p class="contacts__city">Chicago</p>
          <a
            class="contacts__address"
            target="_blank"
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034016,-87.7797405,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </div>
        <ul class="contacts__schedule">
          <li class="contacts__shedule-item">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__shedule-item">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__wrap">
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__agency contacts__agency--truck">FOOD TRUCK</p>
        <div class="contacts__location">
          <p class="contacts__city">Los Angeles</p>
          <a
            class="contacts__address"
            target="_blank"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </div>

        <ul class="contacts__schedule">
          <li class="contacts__shedule-item">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__shedule-item">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__wrap">
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__agency">CAFE</p>
        <div class="contacts__location">
          <p class="contacts__city">New York</p>
          <a
            class="contacts__address"
            target="_blank"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </div>

        <ul class="contacts__schedule">
          <li class="contacts__shedule-item">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__shedule-item">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__wrap">
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__wrap-item">
            <a class="contacts__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__buttons">
      <button type="button" class="locations-btn" data-modal-location-open>
        Our Locations
        <svg class="btn-icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <button type="button" class="franchise-btn" data-modal-franchise-open>
        Franchise
        <svg class="btn-icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
    </ul>
  </div>
</section>
