<section class="section section--reviews section--no-padding-top">
  <div class="container review__container">
    <h2 class="section__title section__title--visually-hidden">
      customer reviews
    </h2>
    <img
      srcset="./images/review/emily@2x.jpg 2x, ./images/review/emily.jpg 1x"
      src="./images/review/emily.jpg"
      alt="Reviewer"
      class="review__img"
    />
    <p class="review__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="review__name">Emily, Los Angeles</p>
  </div>
</section>
