<section class="section section--reviews section--no-padding-top">
  <div class="container review__container">
    <h2 class="section__title section__title--visually-hidden">
      customer reviews
    </h2>
    <ul class="slider">
      <li class="slider__item">
        <img
        srcset="./images/review/emily@2x.jpg 2x, ./images/review/emily.jpg 1x"
        src="./images/review/emily.jpg"
        alt="Reviewer"
        class="review__img"
      />
      <p class="review__text">
        I love visiting your cafe. You prepare the most delicious ice cream in Los
        Angeles! In addition, you have beautiful serving, cozy atmosphere and
        polite staff.
      </p>
      <p class="review__name">Emily, Los Angeles</p> 
      </li>
      <li class="slider__item">
        <img
        srcset="./images/review/sam@2.jpg 2x, ./images/review/sam.jpg 1x"
        src="./images/review/sam.jpg"
        alt="Reviewer"
        class="review__img"
      />
      <p class="review__text">
        I love eating popsicles on a hot day. Yours is always delicious.
         I recommend your cafe to everyone I know.
      </p>
      <p class="review__name">Sam, Los Angeles</p>   
      </li>
      <li class="slider__item">
        <img
        srcset="./images/review/diana@2.jpg 2x, ./images/review/diana.jpg 1x"
        src="./images/review/diana.jpg"
        alt="Reviewer"
        class="review__img"
      />
      <p class="review__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! 
        And I really like the excellent service - always served politely and quickly!
      </p>
      <p class="review__name">Diana, Chicago</p> 
      </li>
      
  </ul>
  </div>
</section>
