<footer class="footer">
  
  <div class="container footer__container">

    
    <div class="footer__text">
      <p class="footer__text--first">homemade ice cream made</p>
      <p class="footer__text--second">with passion</p>
    </div>
    <a class="arrow-to-top" href="#header">
      <svg class="arrow-to-top-svg">
        <use href="./images/icons.svg#arrow-two-up">
          </use>
      </svg></a>
    <div class="footer__container--tablet">
      <ul class="media-list">
        <li class="media-list__item">
          <a href="https://github.com/" class="media-list__link">
            <svg
              aria-label="github icon"
              class="social-list__icon"
              width="18"
              height="18"
            >
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="media-list__item">
          <a href="https://telegram.org/" class="media-list__link">
            <svg
              aria-label="telegram icon"
              class="social-list__icon"
              width="20"
              height="15"
            >
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="media-list__item">
          <a href="https://uk-ua.facebook.com/" class="media-list__link">
            <svg
              aria-label="facebook icon"
              class="social-list__icon"
              width="9"
              height="20"
            >
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact">
        Feel free to contact&nbsp;
        <a class="footer__contact--tel" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
     
    </div>
    
  </div>
  <div class="footer__border"></div>
  <div class="container footer__copyright">
    <p class="footer__copyright--text">
      © 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
