<!-- <section class="section section--gallery section--no-padding-top">
  <h2 class="section__title section__title--visually-hidden">gallery</h2>
  <ul class="gallery">
    <li class="gallery__item">
        <img class="gallery__img" 
        srcset="./images/galleryImg/ice-cream1-1013.jpg 1x,
        ./images/galleryImg/ice-cream1-2026.jpg 2x"
        src="./images/galleryImg/ice-cream1-1013.jpg" alt="Дуже смачне морозиво">
    </li>
    <li class="gallery__item">
        <img class="gallery__img"
        srcset="./images/galleryImg/ice-cream2-716.jpg 1x,
        ./images/galleryImg/ice-cream2-1432.jpg 2x"
        src="./images/galleryImg/ice-cream2-716.jpg" alt="Дуже смачне морозиво">
    </li>
    <li class="gallery__item"> 
        <img class="gallery__img"
        srcset="./images/galleryImg/ice-cream3-636.jpg 1x,
        ./images/galleryImg/ice-cream3-1272.jpg 2x"
        src="./images/galleryImg/ice-cream3-636.jpg" alt="Дуже смачне морозиво">
    </li>
    <li class="gallery__item"> 
        <img class="gallery__img"
        srcset="./images/galleryImg/ice-cream4-640.jpg 1x,
        ./images/galleryImg/ice-cream4-1280.jpg 2x"
        src="./images/galleryImg/ice-cream4-640.jpg" alt="Дуже смачне морозиво">
    </li>
 </ul>
</section> -->
