<section id="hero" class="hero">
  <!--Мороженка-->
  <div class="image-thumb-shine">
   </div>
  <div class="image-thumb">
   </div>
  <!---->
  <div class="container">
    <div class="flex-container">
      <div class="flex-container__item">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--emphasized">passion</span>
        </h1>
        <ul class="buttons-list">
          <li class="buttons-list__item">
            <button href="#products" type="button" class="products-btn">
              Products
            </button>
          </li>
          <li class="buttons-list__item">
            <button href="#about" type="button" class="production">
              How it’s made?
            </button>
          </li>
        </ul>

        <div class="info">
          <div class="info__item info__thumb">
            <picture>
              <source srcset="./images/hero/TabPlate.png 152w, 
              ./images/hero/TabPlate@2.png 304w"
              media="(max-width: 1199px)"
              sizes="(max-width: 1199px) 152w, 15vw">
              <source srcset="./images/hero/PCPlate.png 225w, 
              ./images/hero/PCPlate@2.png 550w"
              media="(min-width: 1200px)"
              sizes="(min-width: 1200px) 225w, 15vw">
              <img
              src="./images/hero/TabPlate.png"
              class="info__img"
              alt="Тарілка з морозивом"
            />
          </picture>
           
          </div>
          <div class="info__item info__descr">
            <p class="info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="" class="info__arrow">
              <svg class="info__arrow-icon" width="40px" height="10px">
                <use href="./images/icons.svg#icon-read-more-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    
      <div class="right-side">

       <!-- <div class="image-thumb__item"></div>-->
        <ul class="statistics">
          <li class="statistics__item">
            <div class="statistics__number">16</div>
            <div class="statistics__unit">cafes</div>
          </li>
          <li class="statistics__item">
            <div class="statistics__number">23</div>
            <div class="statistics__unit">food trucks</div>
          </li>
        </ul>

        <!-- <img class="image-background" src="./images/hero/dots-desk.png" /> -->
      </div>
    </div>

    <!--  дів для картинок> -->
    <!-- <div class="hero__decoration">
      <img
        class="hero__big-icecream"
        src="./images/hero/ice-cream.png"
        alt="ice cream"
      />
      <img
        class="hero__many-icecreams"
        src="./images/hero/many-icecreams.png"
        alt="many ice creams"
      />
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div> -->

    <!--  місця продажу> -->
    <!--  крапки -мобілка-> -->
    <!-- <svg class="hero__points--mobile"> -->

    <!-- <use href="./images/hero/icons-hero.svg#icon-points-hero-mob"></use>
    </svg> -->
    <!--  крапки -планшет ліва-> -->
    <!-- <svg class="hero__points--tablet">
      <use href="./images/hero/icons-hero.svg#icon-points-hero-tab"></use>
    </svg> -->

    <!--  крапки -комп'ютер> -->

    <!--  стрілка> -->
  
</section>
