<section id="hero" class="hero">
  <!--Мороженка-->
  <div class="image-thumb-shine"></div>
  <div class="image-thumb"></div>

  <div class="container">
    <div class="flex-container">
      <div class="flex-container__item">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--emphasized">passion</span>
        </h1>
        <ul class="buttons-list">
          <li class="buttons-list__item">
            <a href="#products" class="hero-btn products-btn">Products</a>
          </li>
          <li class="buttons-list__item">
            <a href="#about" class="hero-btn production">How it’s made?</a>
          </li>
        </ul>

        <div class="info">
          <div class="info__item info__thumb">
            <picture>
              <source
                srcset="
                  ./images/hero/TabPlate.png   152w,
                  ./images/hero/TabPlate@2.png 304w
                "
                media="(max-width: 1199px)"
                sizes="(max-width: 1199px) 152px"
              />
              <source
                srcset="
                  ./images/hero/PCPlate.png   225w,
                  ./images/hero/PCPlate@2.png 550w
                "
                media="(min-width: 1200px)"
                sizes="(min-width: 1200px) 225px"
              />
              <img
                src="./images/hero/TabPlate.png"
                class="info__img"
                alt="Тарілка з морозивом"
              />
            </picture>
          </div>
          <div class="info__item info__descr">
            <p class="info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="" class="info__arrow">
              <svg class="info__arrow-icon" width="40px" height="10px">
                <use href="./images/icons.svg#icon-read-more-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="right-side flex-container__item">
        <ul class="statistics">
          <li class="statistics__item">
            <div class="statistics__number">16</div>
            <div class="statistics__unit">cafes</div>
          </li>
          <li class="statistics__item">
            <div class="statistics__number">23</div>
            <div class="statistics__unit">food trucks</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
