<div class="mobile-menu" data-menu>
  <picture>
    <!-- <source
      media="(min-width: 768px)"
      srcset="./images/logo-tab.png 1x, ./images/logo-tab@2x.png 2x"
    />
    <img src="./images/logo-tab.png" alt="логотип компанії" /> -->
    <source
      media="(max-width: 767px)"
      srcset="./images/logo-mobile.png 1x, ./images/logo-mobile@2x.png 2x"
    />
    <img src="./images/logo-mobile.png" alt="логотип компанії" />
  </picture>
  <button class="mobile-menu__close-btn" data-menu-close>
    <svg class="mobile-menu__close-icon" width="40" height="40">
      <use href="./images/icons.svg#icon-btn-close"></use>
    </svg>
  </button>
  <ul>
    <li>
      <a href="./">Home</a>
    </li>
    <li>
      <a href="./#about">How it’s made?</a>
    </li>
    <li>
      <a href="./#">Our products</a>
    </li>
    <li>
      <a href="./#contacts">Contact</a>
    </li>
  </ul>
  <button data-modal-open type="button" class="mobile-menu_btn">Buy now</button>
</div>
