<div class="our-locations-modal">
  <h2 class="our-locations-modal__title">Our Locations</h2>
  <iframe
    class="our-locations-modal__iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.820776293998!2d30.5266385162942!3d50.4444388956783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce54c1e48105%3A0x74d1d95832eb2407!2sOffice%20of%20the%20President%20of%20Ukraine!5e0!3m2!1sen!2sua!4v1667944100304!5m2!1sen!2sua"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <button type="button">Open map</button>
</div>
