<div class="backdrop is-hidden" data-modal-location>
  <div class="our-locations-modal">
    <button
      type="button"
      class="our-locations-modal__close-btn"
      data-modal-location-close
    >
      <svg class="our-locations-modal__close-icon">
        <use href="./images/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
    <p class="our-locations-modal__title">Our Locations</p>
    <iframe
      class="our-locations-modal__iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.820776293998!2d30.5266385162942!3d50.4444388956783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce54c1e48105%3A0x74d1d95832eb2407!2sOffice%20of%20the%20President%20of%20Ukraine!5e0!3m2!1sen!2sua!4v1667948269295!5m2!1sen!2sua"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      class="our-locations-modal__btn"
      href="https://goo.gl/maps/3FtmNAcUBnzjsEgW7"
      target="_blank"
      >Open map</a
    >
  </div>
</div>
