.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: $primary-white-color;
  transition: opacity $cubic, visibility $cubic;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 280px;
  min-height: 449px;
  padding: 26px 26px;

  background-color: $primary-white-color;
  border-radius: 10px;
  border: 2px solid $main-accent-color;
}

.about-modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  text-align: center;

  background-color: var(--bg-site-color);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.modal-icon-btn-close {
  width: 16px;
  height: 16px;
}

.about-modal__title {
  font-family: 'Seymour One', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  color: $primary-black-color;
  text-align: center;
}

.about-modal__video {
  width: 224;
  height: 199px;
  border-radius: 10px;
}

.about-modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  margin-top: 20px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about-modal {
    position: absolute;
    max-width: 568px;
    padding: 30px 58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-modal__close-btn {
    right: 16px;
    top: 16px;
  }

  .modal-icon-btn-close {
    width: 20px;
    height: 20px;
  }

  .about-modal__title {
    font-size: 20px;
    line-height: 1.14;
    margin-bottom: 32px;
  }

  .about-modal__text {
    font-size: 16px;
    line-height: 1.38;
    margin-top: 32px;
  }

  .about-modal__video {
    width: 448px;
    height: 205px;
  }
}
