.review__container {
  text-align: center;
}

.review__img {
  border-radius: 50%;
  margin: 0 auto 26px auto;
}

.review__text {
  width: 280px;
  font-size: 12px;
  line-height: 255%;
  color: $primary-white-color;
  background: $main-bg-color;
  border-radius: 10px;
  margin: 0 auto;
  padding: 34px 39px;

  @media screen and (min-width: 768px) {
    width: 705px;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 28px 80px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    font-size: 16px;
    padding: 40px 109px;
  }
}

.review__name {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
