.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $cubic, visibility $cubic;
}

.our-locations-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  min-height: 365px;
  padding: 26px;
  background-color: $primary-white-color;
  border-radius: 10px;
  border: 2px solid $main-accent-color;
  text-align: center;
}

.our-locations-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white-color;
  border: none;
}

.our-locations-modal__close-icon {
  width: 16px;
  height: 16px;
}

.our-locations-modal__title {
  font-family: 'Seymour One', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

.our-locations-modal__iframe {
  margin-bottom: 24px;
  width: 225px;
  height: 200px;
  border-radius: 10px;
  border-color: transparent;
}

.our-locations-modal__btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 42px;
  background-color: $main-accent-color;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $primary-black-color;
  transition: background-color $cubic;

  &:hover,
  &:focus {
    background-color: $active-btn-color;
  }
}

@media screen and (min-width: 768px) {
  .our-locations-modal {
    max-width: 568px;
    min-height: 458px;
    padding: 30px 58px;
  }

  .our-locations-modal__close-btn {
    top: 20px;
    right: 20px;
  }

  .our-locations-modal__close-icon {
    width: 20px;
    height: 20px;
  }

  .our-locations-modal__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }

  .our-locations-modal__iframe {
    margin-bottom: 32px;
    width: 448px;
    height: 260px;
  }

  .our-locations-modal__btn {
    width: 145px;
    font-size: 14px;
    line-height: 1.21;
  }
}
