.our-locations-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 26px;
  padding-bottom: 26px;
  width: calc(100% - 52px);
  max-width: 428px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: $primary-white-color;
  border-radius: 10px;
  border: 2px solid $main-accent-color;
}

.our-locations-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white-color;
  border: none;
  cursor: pointer;
}

.our-locations-modal__close-icon {
  width: 16px;
  height: 16px;
}

.our-locations-modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Seymour One', sans-serif;
  line-height: 1.5;
}

.our-locations-modal__iframe {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: calc(100% - 48px);
  height: 199px;
  border-radius: 10px;
  border-color: transparent;
}

.our-locations-modal__map-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

// .our-locations-modal__btn {
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 134px;
//   height: 42px;
//   background-color: $main-accent-color;
//   border-radius: 10px;
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 1.25;
//   color: $primary-black-color;
//   transition: background-color $cubic;

//   &:hover,
//   &:focus {
//     background-color: $active-btn-color;
//   }

//   &:active {
//     color: $primary-white-color;
//   }
// }

@media screen and (min-width: 768px) {
  .our-locations-modal {
    max-width: 568px;
    min-height: 458px;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .our-locations-modal__close-btn {
    top: 20px;
    right: 20px;
  }

  .our-locations-modal__close-icon {
    width: 20px;
    height: 20px;
  }

  .our-locations-modal__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }

  .our-locations-modal__iframe {
    margin-bottom: 32px;
    width: calc(100% - 112px);
    height: 260px;
  }

  // .our-locations-modal__btn {
  //   width: 145px;
  //   font-size: 14px;
  //   line-height: 1.21;
  // }
}
